html, 
body {
   font-family: 'Inter', sans-serif;
   min-width: 1920px;
   }
a {
   color: #FFF;
   text-decoration: none;
   vertical-align: super;
}
h1 {
   font-size: 64px;
   font-weight: 700;
   color:#FFF;
}
h2 {
   font-size: 32px;
   font-weight: 600;
   color:#FFF;
}
h3 {
   font-size: 24px;
   font-weight: 400;
   color:#CECECE;
}
h4 {
   font-size: 20px;
   font-weight: 400;
   color:#CECECE;
}
button {
   width: 288px;
height: 54px;
border-radius: 5px;
background: #DBA833;
border: none;
font-size: 20px;
font-weight: 700;

}
.yellow_text {
   color: #DBA833;
}
.wrapper {
display:  flex;
flex-direction: column;
height: 100%;
margin: 0 auto;
}
.header .menu, ol {
   display: flex;
   }

ol {
   justify-content: space-between;
}
li{
   max-height: 25px;
   line-height: 25px;
}
li img {
   height: 25px;
   width: 25px;
}
li p {
   display: inline;
   vertical-align: super;
}
.header {
   background: 
   url(../image/Main/Logistic.png) no-repeat,
   linear-gradient(180deg, #000 10.42%, rgba(0, 0, 0, 0.09) 79.69%, rgba(0, 0, 0, 0.00) 100%),
   url(../image/Main/Logo.png) no-repeat;
   background-position: center;
   min-height: 1140px;
}
.menu {
   margin-top: 24px;
   justify-content: center;

   .menu_img img {
      width: 100px;
      height: 78px;
      margin-right: 34px;
      }      
   .menu_list {
      padding: 5px 0 5px 0;
      border-top:  2px dashed #4F4F4F;
      border-bottom: 2px dashed #4F4F4F;
      min-width: 1044px;
      font-size: 15px;
      font-weight: 700;
      // li:last-child {
      //   list-style-image: url(../image/Icons/Personal_Area.svg); 
      // }
   }
   .menu_contacts {
      color: #B6B6B6;
      font-size: 15px;
      font-weight: 400;
      margin: 22px 0 0 0;
      // li:nth-child(1) {
      //    list-style-image: url(../image/Icons/Time.svg) ; 
      //  }
      //  li:nth-child(2) {
      //    list-style-image: url(../image/Icons/Mail.svg); 
      //  }
      //  li:nth-child(3) {
      //    list-style-image: url(../image/Icons/Phone.svg); 
      //  }
   }
}
.top {
   max-width: 1006px;
   text-align: center;
   margin: 364px auto 0 auto;
   h4 {
      margin: 15px;
   }
   button {
      margin: 20px;
   }
}
.basis {
   min-height: 800px;
   display: flex;
   justify-content: center;
   position: relative;
   .basis_left {
      background: 
   url(../image/Main/Trailer_Flammable.png);
      background-position: right;
      min-width: 960px;
   }
   .basis_right {
      background:  url(../image/Main/Tanker.png);
      background-position: right;
      min-width: 960px;
      }
}
.card {
   text-align: center;
   width: 530px;
   height: 400px;
   backdrop-filter: blur(2.5px);
   background-color: rgba(44, 44, 44, 0.80);
   padding: 97px 90px 97px 90px;
   h2 {
      margin: 97px 0 0 0;
   }
   h4 {
      margin: 15px 0 0 0;
      text-align: left;
   }
   button {
      margin: 30px 0 0 0;
   }
}
.card_right {
   border-top-right-radius: 30px;
   border-bottom-right-radius: 30px;
   position: absolute;
   top: 0;
   left: 950px;
}