.main .news .all_news, .main .news .news_card .new_text a, .main .gas_station .block_center a, .main .product .card a, header .top a {
  display: inline-block;
  padding: 15px 60px;
  border-radius: 5px;
  background: #dba833;
}

html {
  font-family: "Inter", sans-serif;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  font-size: 16px;
  font-weight: 500;
  color: #5b5b5b;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
  color: #fff;
}

h2 {
  font-size: 3rem;
  font-weight: 700;
  color: #000000;
}

h3 {
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
}

h4 {
  font-size: 1.5rem;
  color: #000000;
  font-weight: 600;
}

p {
  font-size: 1.5rem;
  margin-top: 5px;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 700;
}

li {
  font-size: 1rem;
  font-weight: 700;
}

.yellow_text, .main .form [type=submit], .main .news .all_news, .main .news .news_card .new_text a {
  color: #dba833;
}

.capital_letters {
  text-transform: uppercase;
}

.vertical_text {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

.card_block {
  display: flex;
}

.block {
  max-width: 1200px;
  text-align: center;
  margin: 0 auto;
}

.wrapper {
  max-width: 1920px;
  min-width: 720px;
  margin: 0 auto;
  min-height: 100%;
}

header {
  background: url(../image/Main/Logistic.png) no-repeat, linear-gradient(180deg, #000000 3%, rgba(0, 0, 0, 0.09) 34%, rgba(0, 0, 0, 0) 100%), url(../image/Main/Logo.png) no-repeat;
  background-position: center;
  min-height: 1140px;
}
header .navbar {
  display: flex;
  padding: 22px;
  justify-content: center;
}
header .navbar ol {
  display: flex;
  justify-content: space-between;
}
header .navbar li {
  max-height: 25px;
  line-height: 30px;
  gap: 6px;
  display: flex;
}
header .navbar .navbar_content {
  padding: 9px 0 9px 34px;
}
header .navbar .navbar_list {
  padding: 5px 0;
  border: 2px dashed #4f4f4f;
  border-left: 0;
  border-right: 0;
  min-width: 1044px;
  font-size: 1rem;
  font-weight: 700;
}
header .navbar .navbar_contacts {
  color: #b6b6b6;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 22px;
}
header .top {
  padding: 90px 70px;
  max-width: 1006px;
  text-align: center;
  margin: 170px auto 0 auto;
  background: radial-gradient(circle 208px at 150px, rgba(0, 0, 0, 0.589) 30%, rgba(0, 0, 0, 0)), radial-gradient(circle 208px at 300px, rgba(0, 0, 0, 0.589) 30%, rgba(0, 0, 0, 0)), radial-gradient(circle 208px at 450px, rgba(0, 0, 0, 0.589) 30%, rgba(0, 0, 0, 0)), radial-gradient(circle 208px at 600px, rgba(0, 0, 0, 0.589) 30%, rgba(0, 0, 0, 0)), radial-gradient(circle 208px at 750px, rgba(0, 0, 0, 0.589) 30%, rgba(0, 0, 0, 0)), radial-gradient(circle 208px at 900px, rgba(0, 0, 0, 0.589) 30%, rgba(0, 0, 0, 0));
}
header .top h4 {
  margin-top: 15px;
}
header .top a {
  min-width: 168px;
  height: 24px;
  margin-top: 20px;
}
header .top p {
  font-size: 1.5rem;
  color: #cecece;
  font-weight: 400;
}

.main .product {
  max-width: 1920px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.main .product .head_basic {
  position: absolute;
  top: -88px;
  left: 39.6%;
}
.main .product .head_basic h2 {
  color: #fff;
}
.main .product .product_left {
  background: url(../image/Main/Trailer_Flammable.png) no-repeat right;
  height: 800px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.main .product .product_left .card_left {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  grid-column: 2;
  grid-row: 2;
}
.main .product .product_right {
  background: url(../image/Main/Tanker.png) no-repeat left;
  height: 800px;
}
.main .product .product_right .card_right {
  border-bottom-right-radius: 30px;
}
.main .product .product_bottom {
  grid-column: 1/3;
  background: url(../image/Main/Radiator.png) no-repeat top;
  height: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.main .product .product_bottom .card_bottom {
  border-top-right-radius: 30px;
  grid-column: 2;
}
.main .product .card {
  text-align: left;
  width: 350px;
  height: 200px;
  background-color: rgba(44, 44, 44, 0.8);
  padding: 100px 90px;
}
.main .product .card p {
  margin-top: 15px;
  color: #cecece;
  font-size: 1.25rem;
  font-weight: 400;
}
.main .product .card a {
  padding: 13px 118px;
  margin-top: 30px;
}
.main .gas_station {
  max-width: 1920px;
  display: flex;
  justify-content: center;
  gap: 100px;
}
.main .gas_station a {
  margin-top: 150px;
  display: inline-block;
}
.main .gas_station .block_center {
  margin-top: 50px;
  max-width: 1200px;
  border: #2d2d2d 3px dashed;
  border-radius: 20px;
  padding: 36px;
}
.main .gas_station .block_center h2 {
  color: #000000;
}
.main .gas_station .block_center p {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 5px 175px 0 175px;
  width: 72%;
}
.main .gas_station .block_center a {
  margin-top: 40px;
  padding: 13px 122px;
  border: 2px solid #dba833;
  background: none;
}
.main .gas_station .card_block {
  justify-content: space-around;
  margin-top: 20px;
  gap: 40px;
}
.main .gas_station .card_block h4 {
  margin-top: 20px;
}
.main .gas_station .card_block p {
  margin: 5px auto auto auto;
  font-size: 1rem;
  font-weight: 400;
}
.main .manufacturers {
  margin: 160px auto 0 auto;
}
.main .manufacturers .card_block {
  margin-top: 30px;
  justify-content: space-around;
  gap: 43px;
}
.main .manufacturers img {
  transition: 0.5s;
}
.main .manufacturers img:hover {
  transform: rotate(1turn) scale(1.4);
}
.main .geography {
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 112px;
  padding: 50px 100px 80px 100px;
  background: radial-gradient(#f8f8f8 70%, #fff 20%);
}
.main .geography img {
  width: 85%;
  max-height: 72%;
  margin-top: 25px;
}
.main .clients {
  margin-top: 80px;
}
.main .clients .card_block {
  margin-top: 20px;
  justify-content: space-around;
  gap: 43px;
}
.main .clients img {
  transition: 0.5s;
}
.main .clients img:hover {
  transform: rotate(1turn) scale(1.4);
}
.main .reviews {
  margin-top: 120px;
  border-radius: 150px;
  border: 3px dashed #dba833;
  background: #f8f8f8;
  padding: 25px 116px 62px 94px;
}
.main .reviews p {
  font-weight: 500;
  font-size: 1rem;
  text-align: left;
  max-width: 750px;
}
.main .reviews h3 {
  text-align: left;
  margin-top: 50px;
}
.main .reviews img {
  margin-right: 40px;
  max-width: 212px;
  max-height: 300px;
  transition: 1s;
}
.main .reviews img:hover {
  margin-top: 20px;
  transform: scale(1.35);
}
.main .reviews .reviews_card {
  display: flex;
  border-radius: 50px;
  border: 1px solid #000;
  margin-top: 30px;
  padding: 30px;
}
.main .reviews .reviews_card .vertical_text {
  text-align: center;
  max-height: 230px;
  margin: 46px 15px 64px auto;
}
.main .news {
  margin-top: 80px;
}
.main .news .block_news_card {
  display: flex;
  text-align: left;
  margin-top: 30px;
  gap: 40px;
  justify-content: center;
}
.main .news .news_card {
  border: 1px solid #000;
  border-radius: 15px;
}
.main .news .news_card .new_img {
  padding: 17px 62px;
  border-bottom: 1px solid #000;
  background: #f8f8f8;
  border-radius: 15px 15px 0 0;
  display: inline-block;
  margin: 0 auto;
}
.main .news .news_card .new_text {
  padding: 20px;
  max-width: 270px;
}
.main .news .news_card .new_text h3 {
  font-size: 1.25rem;
  font-weight: 600;
  color: black;
}
.main .news .news_card .new_text p {
  font-size: 1rem;
}
.main .news .news_card .new_text a {
  background: #fff;
  border-radius: 5px;
  border: 1px solid #dba833;
  margin-top: 37px;
  padding: 10px 90px;
  font-size: 1rem;
}
.main .news .all_news {
  margin-top: 30px;
  background: #fff;
  border-radius: 5px;
  border: 2px solid #dba833;
  margin-top: 37px;
  font-size: 1.25rem;
}
.main .form {
  margin-top: 100px;
  background: url(../image/Main/Logo_Form.png) no-repeat;
  max-width: 1920px;
  min-height: 400px;
  text-align: left;
  padding-top: 145px;
}
.main .form form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px 15px;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
}
.main .form h3 {
  font-size: 2.25rem;
  grid-column: 1;
}
.main .form input {
  border-radius: 5px;
  border: 1px solid #fff;
  background: rgba(30, 30, 30, 0.7);
  max-height: 44px;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 500;
}
.main .form input::-moz-selection {
  background-color: #dba833;
  color: #000;
}
.main .form input::selection {
  background-color: #dba833;
  color: #000;
}
.main .form input::-moz-placeholder {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 500;
}
.main .form input::placeholder {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 500;
}
.main .form [type=text] {
  grid-column: 1;
  grid-row: 2;
}
.main .form [type=tel] {
  grid-column: 2;
  grid-row: 2;
}
.main .form [type=submit] {
  grid-column: 3;
  grid-row: 2;
  background: #fff;
  border-radius: 5px;
  border: 2px solid #dba833;
}
.main .form p {
  grid-column: 3;
  grid-row: 3;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  margin-top: 0;
}
.main .form p a {
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  border-bottom: 1px solid;
}/*# sourceMappingURL=style.css.map */